<h1>Check out the JS console in your browser</h1>


<script>

// TODO: wait to do all this until page is loaded

// Come up with a username
var username = 'mikermcneil';

// Get location from browser
console.log('getting location from browser...');
navigator.geolocation.getCurrentPosition(function gotLocation(geo){

  // Communicate w/ server
  console.log('communicating with server...');
  io.socket.put('/user/'+username+'/zone', {
    lat: geo.coords.latitude,
    long: geo.coords.longitude
  }, function(data, jwr){
    if (jwr.error) {
      console.error('Server responded with an error.  (Please refresh the page and try again.)');
      console.error('Error details:');
      console.error(jwr.error);
      return;
    }//-•

    console.log('It worked!  Now arrived in zone.');

  });
}, function failedToGetLocation(err) {
  console.error('Could not load location.  (Please refresh the page and try again.)');
  console.error('Error details:');
  console.error(err);
})

</script>
