<h1>Check out the JS console in your browser</h1>

<p>Visit http://localhost:1337?usernameHere to fetch location and arrive in your current zone.</p>

<h5>For example:</h5>
<ul>
  <li><a href="http://localhost:1337?rachaelshaw">http://localhost:1337?rachaelshaw</a></li>
  <li><a href="http://localhost:1337?irlnathan">http://localhost:1337?irlnathan</a></li>
  <li><a href="http://localhost:1337?particlebanana">http://localhost:1337?particlebanana</a></li>
  <li><a href="http://localhost:1337?sgress454">http://localhost:1337?sgress454</a></li>
  <li><a href="http://localhost:1337?mikermcneil">http://localhost:1337?mikermcneil</a></li>
</ul>

<script>

// Come up with a username
var username = window.location.search.replace(/^\?/, '');

// If no username was specified, stop here.
if (!username) {
  throw new Error('No username specified.  Try again w/ a username to continue.')
}

// Get location from browser
console.log('getting location from browser...');
navigator.geolocation.getCurrentPosition(function gotLocation(geo){
  console.log('• got it!', geo);

  // Communicate w/ server
  console.log('communicating with server...');
  io.socket.put('/user/'+username+'/zone', {
    lat: geo.coords.latitude,
    long: geo.coords.longitude
  }, function(data, jwr){
    if (jwr.error) {
      console.error('Server responded with an error.  (Please refresh the page and try again.)');
      console.error('Error details:');
      console.error(jwr.error);
      return;
    }//-•

    console.log('It worked!  Now arrived in zone.');
    console.log('You can change your remark by running the following code:');
    console.log('```');
    console.log('io.socket.put(\'/user/yourUsername/remark\',{remark: \'hi\'},console.log.bind(console))');
    console.log('```');


    io.socket.on('zone', function(msg){
      console.log('* * Received zone notification from server with message:', msg);
    });

  });
}, function failedToGetLocation(err) {
  console.error('Could not load location.  (Please refresh the page and try again.)');
  console.error('Error details:');
  console.error(err);
})


</script>
