<div id="homepage">
  <h1>Check out the JS console in your browser</h1>

  <div id="main-content">
    <p>Visit http://localhost:1337?usernameHere to fetch location and arrive in your current zone.</p>

    <h5>For example:</h5>
    <ul>
      <li><a href="http://localhost:1337?rachaelshaw">http://localhost:1337?rachaelshaw</a></li>
      <li><a href="http://localhost:1337?irlnathan">http://localhost:1337?irlnathan</a></li>
      <li><a href="http://localhost:1337?particlebanana">http://localhost:1337?particlebanana</a></li>
      <li><a href="http://localhost:1337?sgress454">http://localhost:1337?sgress454</a></li>
      <li><a href="http://localhost:1337?mikermcneil">http://localhost:1337?mikermcneil</a></li>
    </ul>
  </div>

  <div id="map"></div>

  <div id="activity">
    <ul class="activity-log">
      <template v-for="notification in activity">
        <li>
          <% /* if the activity is an entrance */ %>
          <template v-if="notification.verb === 'userArrived'">
            <p><strong>{{notification.username}}</strong> has entered the room.</p>
            <p v-if="notification.remark !== ''"><strong>{{notification.username}} says:</strong> {{notification.remark}}</p>
          </template>
          <% /* if the activity is a remark */%>
          <template v-if="notification.verb === 'userRemarked'">
            <p><strong>{{notification.username}} says:</strong> {{notification.remark}}</p>
          </template>
        </li>
      </template>
    </ul>
  </div>
</div>
