<div id="homepage">
  <div id="main-content" data-logged-in-user="<%= username %>">
    <div class="container">
      <div class="window panel panel-default" id="message-window">
        <div v-if="syncingLocation" class="panel-heading">Getting location from browser...</div>
        <div v-else-if="errorFetchingLocation" class="panel-heading">Error fetching location.</div>
        <div v-else-if="communicatingWithServer" class="panel-heading">Communicating with server...</div>
        <div v-else class="panel-heading">Welcome, <strong><%= username %></strong>!
          <span v-if="numOthersInZone === 0">You are the only one here.</span>
          <span v-else>There {{numOthersInZone === 1 ? 'is' : 'are'}} {{numOthersInZone}} other {{numOthersInZone === 1 ? 'person' : 'people'}}  here.</span>
        </div>
        <div class="location-info panel-body">
          <div id="activity">
            <template v-for="notification in activity">
              <% /* if the activity is an entrance */ %>
              <template v-if="notification.verb === 'userArrived'">
                <p><strong>{{notification.username}}</strong> has arrived.</p>
                <p v-if="notification.remark !== ''"><strong>{{notification.username}} says:</strong> {{notification.remark}}</p>
              </template>
              <% /* if the activity is a remark from someone else */%>
              <template v-if="notification.verb === 'userRemarked'">
                <p><strong>{{notification.username}} says:</strong> {{notification.remark}}</p>
              </template>
              <% /* if the activity is YOUR remark */%>
              <template v-if="notification.verb === 'updatedMyRemark'">
                <p><strong>You say:</strong> {{notification.remark}}</p>
              </template>
            </template>
          </div>
          <div id="map" class="pull-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="well">
      <div class="container">
        <input v-model="message" v-on:keyup.enter="updateRemark" type="text" class="form-control input-lg" placeholder="Update your message here." value="<%= remark %>">
      </div>
    </div>
  </div>
</div>
