<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700,400|Lato:400,400i,700,700i" rel="stylesheet">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/icon-font.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body data-page="<%= view.pathFromViews %>">

    <%- body %>



    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->



    <% /* Expose locals to browser as SAILS_LOCALS */ %>
    <%- exposeLocalsToBrowser() %>


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/js/page-scripts/homepage.js"></script>
    <script src="/js/page-scripts/login.js"></script>
    <script src="/js/page-scripts/signup.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
