<div id="login">
  <div class="container">
    <div class="jumbotron">
      <h1>in a bottle</h1>
      <div class="form">
        <div class="form-group">
          <label for="login_username">Username</label>
          <input class="form-control input-lg" id="login_username" type="text">
        </div>
        <div class="form-group">
          <label for="login_password">Password</label>
          <input class="form-control input-lg" id="login_password" type="password">
        </div>
        <button class="btn btn-lg btn-block btn-primary" type="submit">
          <span v-if="isSyncing">Logging in...</span>
          <span v-else>Login</span>
        </button>
      </div>
    </div>
  </div>
</div>
