<div id="login">
  <div class="container">
    <div class="login-form">
      <div class="logo">
        <div class="logo-icon">
          <!-- <i class="chatkin-icon icon-logo-chatkin"></i> -->
          <i class="chatkin-icon icon-logo-chatkin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
        </div>
        <h1>chatkin</h1>
      </div>
      <form class="form" v-on:submit.prevent="submitLoginForm">
        <div class="form-group">
          <label for="login_username">Username</label>
          <input class="form-control input-lg" id="login_username" type="text" v-model="username">
        </div>
        <div class="form-group">
          <label for="login_password">Password</label>
          <input class="form-control input-lg" id="login_password" type="password" v-model="password">
        </div>
        <div v-if="invalidCredentials">
          <p>The username or password for you entered was incorrect. Please try again.</p>
        </div>
        <button class="btn submit btn-lg btn-block btn-success" type="submit">
          <span v-if="isSyncing">Logging in...</span>
          <span v-else>Login</span>
        </button>
        <p class="text-center">Need an account? <a href="/signup">Sign up</a>.</p>
      </form>
    </div>
  </div>
</div>
