@font-face {
  font-family: 'chatkin-icons';
  src:  url('/fonts/chatkin-icons.eot?vhe0cm');
  src:  url('/fonts/chatkin-icons.eot?vhe0cm#iefix') format('embedded-opentype'),
    url('/fonts/chatkin-icons.woff2?vhe0cm') format('woff2'),
    url('/fonts/chatkin-icons.ttf?vhe0cm') format('truetype'),
    url('/fonts/chatkin-icons.woff?vhe0cm') format('woff'),
    url('/fonts/chatkin-icons.svg?vhe0cm#chatkin-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.chatkin-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chatkin-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weather-cloudy:before {
  content: "\e908";
}
.icon-weather-storm:before {
  content: "\e909";
}
.icon-weather-snow:before {
  content: "\e90a";
}
.icon-weather-rain:before {
  content: "\e90b";
}
.icon-weather-sunny:before {
  content: "\e90c";
}
.icon-weather-partly-cloudy:before {
  content: "\e90d";
}
.icon-weather-wind:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-logo-chatkin .path1:before {
  content: "\e902";
  color: inherit;
}
.icon-logo-chatkin .path2:before {
  content: "\e903";
  margin-left: -1.05859375em;
  color: inherit;
}
.icon-logo-chatkin .path3:before {
  content: "\e904";
  margin-left: -1.05859375em;
  color: rgb(255, 255, 255);
}
.icon-logo-chatkin .path4:before {
  content: "\e905";
  margin-left: -1.05859375em;
  color: inherit;
}
.icon-logo-chatkin .path5:before {
  content: "\e906";
  margin-left: -1.05859375em;
  color: inherit;
}

