@font-face {
  font-family: 'chatkin-icons';
  src:  url('/fonts/chatkin-icons.eot?97wopq');
  src:  url('/fonts/chatkin-icons.eot?97wopq#iefix') format('embedded-opentype'),
    url('/fonts/chatkin-icons.woff2?97wopq') format('woff2'),
    url('/fonts/chatkin-icons.ttf?97wopq') format('truetype'),
    url('/fonts/chatkin-icons.woff?97wopq') format('woff'),
    url('/fonts/chatkin-icons.svg?97wopq#chatkin-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.chatkin-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chatkin-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weather-03d:before {
  content: "\e908";
}
.icon-weather-03n:before {
  content: "\e908";
}
.icon-weather-scattered-clouds:before {
  content: "\e908";
}
.icon-weather-04d:before {
  content: "\e909";
}
.icon-weather-04n:before {
  content: "\e909";
}
.icon-weather-broken-clouds:before {
  content: "\e909";
}
.icon-weather-02n:before {
  content: "\e90d";
}
.icon-weather-few-clouds-night:before {
  content: "\e90d";
}
.icon-weather-02d:before {
  content: "\e911";
}
.icon-weather-few-clouds-day:before {
  content: "\e911";
}
.icon-weather-11d:before {
  content: "\e912";
}
.icon-weather-11n:before {
  content: "\e912";
}
.icon-weather-thunderstorm:before {
  content: "\e912";
}
.icon-weather-09d:before {
  content: "\e913";
}
.icon-weather-09n:before {
  content: "\e913";
}
.icon-weather-shower-rain:before {
  content: "\e913";
}
.icon-weather-01n:before {
  content: "\e914";
}
.icon-weather-clear-night:before {
  content: "\e914";
}
.icon-weather-13d:before {
  content: "\e90a";
}
.icon-weather-13n:before {
  content: "\e90a";
}
.icon-weather-snow:before {
  content: "\e90a";
}
.icon-weather-10d:before {
  content: "\e90b";
}
.icon-weather-10n:before {
  content: "\e90b";
}
.icon-weather-rain:before {
  content: "\e90b";
}
.icon-weather-01d:before {
  content: "\e90c";
}
.icon-weather-clear-day:before {
  content: "\e90c";
}
.icon-weather-50d:before {
  content: "\e90e";
}
.icon-weather-50n:before {
  content: "\e90e";
}
.icon-weather-mist:before {
  content: "\e90e";
}
.icon-social-twitter:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-logo-chatkin .path1:before {
  content: "\e902";
  color: inherit;
}
.icon-logo-chatkin .path2:before {
  content: "\e903";
  margin-left: -1.05859375em;
  color: inherit;
}
.icon-logo-chatkin .path3:before {
  content: "\e904";
  margin-left: -1.05859375em;
  color: inherit;
  position: relative;
  top: -1px;
}
.icon-logo-chatkin .path4:before {
  content: "\e905";
  margin-left: -1.05859375em;
  color: rgb(255, 255, 255);
}
.icon-logo-chatkin .path5:before {
  content: "\e906";
  margin-left: -1.05859375em;
  color: inherit;
}
.icon-logo-chatkin .path6:before {
  content: "\e90f";
  margin-left: -1.05859375em;
  color: inherit;
}
.icon-logo-chatkin .path7:before {
  content: "\e910";
  margin-left: -1.05859375em;
  color: inherit;
}

