// z-index variables
@z-messages: 50;
@z-form: 75;
@z-menu: 100;

// height/width variables
@form-height: 70px;
@form-height-mobile: 90px;
@topbar-height: 50px;

// homepage styles
#homepage {
  padding-top: @topbar-height;
  padding-bottom: @form-height;

  #main-content {
    .topbar {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: @z-menu - 15;
      background-color: lighten(@accent-lt-blue, 10%);
      border-bottom: 1px solid @accent-lt-blue;
      height: @topbar-height;
      // background-color: @accent-blue;
      // background-color: rgba(255,255,255,0.9);
      padding-top: 10px;
      // border-bottom: 1px solid @accent-lt-blue;
      .branding {
        font-family: @header-font;
        font-weight: 700;
        position: relative;
        // top: -4px;
        color: @brand-chatkin;
        // color: #fff;
        position: relative;
        font-size: 24px;
        i {
          color: @brand-chatkin;
          font-size: 30px;
          position: relative;
          top: 5px;
        }
      }

      .menu-icon {
        display: inline-block;
        float: right;
        padding-top: 2px;
        position: relative;
        overflow: visible;
        z-index: 200;
        >i {
          color: @brand-chatkin;
          // color: #fff;
          font-size: 24px;
          cursor: pointer;
          &:hover {
            // color: @accent-lt-blue;
            color: darken(@brand-chatkin, 10%);
          }
          &.disabled {
            cursor: default;
            &:hover {
              color: #fff;
            }
          }
          &.active {
            color: @accent-blue;
          }
        }
        .popup-menu {
          z-index: @z-menu;
          width: 220px;
          border-radius: 7px;
          background-color: rgba(255,255,255,0.9);
          border: 1px solid @border-gray;
          position: absolute;
          right: 0px;
          top: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          opacity: 0;
          pointer-events: none;
          &.visible {
            opacity: 1;
            pointer-events: auto;
          }
        }
        &.zone-info {
          margin-right: 10px;
          .zone-details {
            #map {
              width: 200px;
              height: 200px;
              overflow: hidden;
              border-radius: 5px;
              background-color: lighten(#ebebeb, 5%);
            }
          }
        }
      }
    }

    .chat-window-wrapper {
      height: 100%;
      overflow: auto;
      .window {
        overflow-x: hidden;
        padding-bottom: 50px;

        .syncing-box {
          width: 100%;
          max-width: 300px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: 100px;
          .chat-buddy {
            font-size: 40px;
            color: @brand-chatkin;
            position: relative;
          }
          .loading-message {
            color: @accent-blue;
          }
        }

        .activity {
          padding-top: 5px;
          padding-bottom: 5px;
          .remark {
            padding-top: 16px;
            // padding-bottom: 15px;
            padding-right: 15px;
            position: relative;
            min-height: 62px;
            // margin-bottom: 10px;
            font-size: 15px;
            // border-bottom: 1px solid lighten(@border-gray, 5%);
            .avatar {
              width: 70px;
              height: 75px;
              position: absolute;
              top: 15px;
              i {
                font-size: 46px;
              }
            }
            .message {
              display: inline-block;
              // background-color: lighten(#ebebeb, 5%);
              border-radius: 7px;
              // border: 1px solid @accent-lt-blue;
              padding-top: 7px;
              padding-bottom: 7px;
              padding-left: 12px;
              padding-right: 12px;
              position: relative;
              overflow: hidden;
              p {
                display: inline-block;
                position: relative;
                z-index: 20;
                margin-bottom: 0px;
                .tweet-icon {
                  margin-right: 2px;
                }
                small {
                  margin-left: 5px;
                  color: darken(@border-gray, 5%);
                }
              }
              .remark-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                z-index: 10;
                top: 0px;
                left: 0px;
                border-radius: 7px;
              }
            }
            &.other-user-remark {
              padding-left: 60px;
              .avatar {
                left: 0px;
                i {
                  float: left;
                }
              }
            }
            &.my-remark {
              // padding-right: 60px;
              text-align: right;
              .avatar {
                display: none;
                right: 0px;
                i {
                  float: right;
                }
              }
              .message {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  .form {
    position: fixed;
    z-index: @z-form;
    height: @form-height;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    // border-top: 1px solid @accent-lt-blue;
    border-top: 1px solid darken(@accent-lt-blue, 5%);
    padding-top: 10px;
    overflow: visible;
    .container {
      position: relative;
      .avatar {
        position: absolute;
        right: 10px;
        top: -68px;
        i {
          font-size: 75px;
          float: left;
        }
        &.hovering {
          .hover-buddy();
        }
      }
      textarea {
        height: @form-height - 20;
        resize: none;
        &.disabled {
          border: 1px solid transparent;
          background-color: transparent;
          box-shadow: none;
          text-align: right;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding-bottom: @form-height-mobile;
    #main-content {
      .topbar {
        .menu-icon {
          .popup-menu {
            @mobile-menu-padding: 20px;
            background: transparent;
            border: none;
            border-radius: 0px;
            height: 100%;
            width: 100%;
            position: fixed;
            top: @topbar-height;
            left: 0px;
            padding-bottom: @topbar-height + @form-height + @mobile-menu-padding;
            .mobile-overlay {
              position: absolute;
              z-index: @z-menu - 10;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,0.3);
              top: 0px;
              left: 0px;
            }
            .menu-content {
              position: absolute;
              background-color: #fff;
              z-index: @z-menu;
              width: 260px;
              height: 100%;
              right: -260px;
              top: 0px;
              padding-top: @mobile-menu-padding;
              padding-bottom: @mobile-menu-padding;
              padding-left: @mobile-menu-padding;
              padding-right: @mobile-menu-padding;
            }
            &.visible {
              .menu-content {
                right: 0px;
              }
            }
            &.animate {
              .menu-content {
                .transition(right 500ms);
              }
            }
          }
        }
      }
    }
    .form {
      height: @form-height-mobile;
      .container {
        textarea {
          height: @form-height-mobile - 20;
        }
      }
    }
  }
}
