html, body {
  height: 100%;
  min-height: 100%;
}
body {
  position: relative;
  padding-bottom: 200px;
}

#homepage {
  max-height: 100%;
  padding-top: 75px;
  overflow: auto;
  .location-info {
    padding-right: 240px;
    min-height: 240px;
    position: relative;
    #map {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 200px;
      height: 200px;
      background-color: lighten(#ebebeb, 5%);
    }
  }
  .form {
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    .well {
      height: 100%;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      textarea {
        height: 80px;
        margin-bottom: 20px;
      }
    }
  }
}
