// z-index variables
@z-messages: 50;
@z-form: 100;

// height/width variables
@form-height: 70px;
@topbar-height: 50px;

// homepage styles
#homepage {

  #main-content {
    position: fixed;
    z-index: @z-messages;
    height: 100%;
    width: 100%;
    padding-bottom: @form-height + @topbar-height + 25;
    background-color: #fff;

    .topbar {
      height: @topbar-height;
      background-color: @accent-blue;
      padding-top: 10px;
      .branding {
        font-family: @header-font;
        font-weight: 700;
        position: relative;
        top: -4px;
        color: #fff;
        position: relative;
        font-size: 24px;
        i {
          color: @brand-chatkin;
          font-size: 30px;
          position: relative;
          top: 5px;
          z-index: 100;
        }
        .logo-bg {
          width: 22px;
          height: 20px;
          background-color: #fff;
          position: absolute;
          left: 4px;
          top: 1px;
          z-index: 10;
        }
      }

      .zone-info {
        display: inline-block;
        float: right;
        padding-top: 2px;
        position: relative;
        overflow: visible;
        z-index: 200;
        .zone-name {
          color: #fff;
          font-family: @header-font;
          font-size: 15px;
          position: relative;
          top: -4px;
          text-transform: uppercase;
        }
        >i {
          color: #fff;
          font-size: 24px;
          cursor: pointer;
          &:hover {
            color: @accent-lt-blue;
          }
          &.disabled {
            cursor: default;
            &:hover {
              color: #fff;
            }
          }
        }
        .offscreen {
          position: absolute;
          right: -9999px;
        }
        .zone-details {
          border-radius: 7px;
          background-color: rgba(255,255,255,0.9);
          border: 1px solid @border-gray;
          position: absolute;
          right: 0px;
          top: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          opacity: 0;
          pointer-events: none;
          #map {
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 5px;
            background-color: lighten(#ebebeb, 5%);
          }
          &.visible {
            opacity: 1;
          }
        }
      }
    }

    .container {
      height: 100%;
      .window {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .syncing-box {
          width: 100%;
          max-width: 300px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: 100px;
          .chat-buddy {
            font-size: 40px;
            color: @brand-chatkin;
            position: relative;
          }
          .loading-message {
            color: @accent-blue;
          }
        }

        .activity {
          .remark {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 120px;
            padding-right: 15px;
            position: relative;
            min-height: 100px;
            margin-bottom: 10px;
            // border-bottom: 1px solid lighten(@border-gray, 5%);
            .avatar {
              width: 100px;
              height: 75px;
              position: absolute;
              left: 0px;
              top: 15px;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-right: 5px;
              padding-left: 5px;
              border-right: 3px solid #ebebeb;
              i {
                font-size: 46px;
              }
              p {
                margin-top: 5px;
                margin-bottom: 0px;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-family: @header-font;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  .form {
    position: fixed;
    z-index: @z-form;
    height: @form-height;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: @accent-lt-blue;
    border-top: 1px solid @border-gray;
    padding-top: 10px;
  }
}
